@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*Chua hieu doan duoi nay*/
* {
    box-sizing: border-box;
    margin: 0;
}
/*Chua hieu doan tren nay*/
/*home -> header -> container*/
.container {
    max-width: 1140px;
    
    margin: auto; /*khung o chinh giua*/
}
/*Sau do bo sung class=row*/
.row {
    display: flex;
    flex-wrap: wrap;
}

/*home xong -> header*/
header {  
    position: absolute;
    left: 0px; /*sat vach*/
    right: 0px;
    border-bottom: 1px solid #ddc3aa; /*tao duong vien chan duoi thanh navbar*/
    padding: 0px 15px; 
    z-index: 10;
}
header .row{
    justify-content: space-between; /*tao khoang cach o giua brand-name & navbar */
    align-items: center;
}
header .brand-name a {
    /*background-color: blue;*/
    text-decoration: none;
    font-size: 22px; /*size chu*/
    font-weight: 600; /*do day cua chu*/
    color: #ffffff; /*mau chu*/
    text-transform: uppercase;
    position: relative; /*hien dau gach chan*/
}

/*chua hieu lam gi vs doan nay*/

/*chua hieu lam gi vs doan nay*/



header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block; /*thanh navbar nam ngang 1 hang*/
    margin-left: 30px; /*gian khoang cach cac muc - thanh navbar */
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    display: block;
    color: #ffffff; /*mau chu*/
    font-weight: 600; /*do day cua chu*/
    position: relative; /*hien dau gach chan*/
}
header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute; 
    left: 0px;
    bottom: -1px;
    transition: all .1s ease;
} 
header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

/*home - phan anh - than bai*/
.home {
    min-height: 100vh;
    background-image: url(img/V5.jpg); /*ghi ten anh vao url() */
    background-size: cover; /*de anh khop vs khung*/
    background-position: center; /*de anh o giua trung tam*/
    padding: 15px;
}




/*code het doan tren -> them class="active" trong dong "Home"*/


/*Sau khi code dong 32 den 43 html thi cai css*/

.home .full-screen {
    /*background-color: red;*/ 
    min-height: 100vh;
}

.home .home-content {
    /*background-color: blue;*/ 
    flex: 0 0 100%;
    max-width: 100%;
    display: flex; /*doi khoi mau do thanh chieu doc*/
    flex-wrap: wrap; 
    align-items: center; /*chu nam giua khoi do*/
}

.home .home-content .block {
    /*background-color: red;*/
    flex: 0 0 75%;
    max-width: 75%;
    border-left: 5px solid #631616; /*tao duong vien trang ben trai*/
}
.home .home-content .block h6{
    color: #631616;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-left: 20px;
}
.home .home-content .block h1{
    color: #631616;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding-left: 20px;
}
.home .home-content .block h3{
    color: #631616;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding-left: 20px;
}
.home .home-content .block .cv-btn{
    padding-left: 20px;
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
    border-radius: 4px;
    color:  #631616;
    border: 1px solid #631616;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;
    background-color: transparent;
}
.home .home-content .block .cv-btn a:hover{ /*dua tro vao se doi mau nen vs chu*/
    background-color: #631616;
    color: #ffffff;
}

/* responsive */ 
/*About Me*/
.about-me {
    padding:  100px 15px;
    background-color : #ffffff;
    /*mau sac tu nhien*/
}

.about-me .section-title {
     /*background-color: #d5d5d5;*/
     flex: 0 0 100%;
     max-width: 100%;
}
.about-me .section-title h1 {
    /*background-color: red;*/
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin:0 0 10px;
    position: relative;
    padding-bottom: 5px;
}
/*tạo đường kẻ vàng dưới chữ About Me*/
.about-me .section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}
.text-uppercase{
    text-transform: uppercase!important;

}
.about-me .section-title p.small {
    /*background-color: blue;*/
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}
.about-me .about-content .img {
    flex: 0 0 33.33%;
    padding-top: 20px;
}
.about-me .about-content .img img {
    width: 100%;
    display: block;
    
}
.about-me .about-content .text {
    /*background-color: blue;*/
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
    padding-top: 30px;
    padding-left: 20px;
}
.about-me .about-content .text h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000000;
    padding-left: 20px;
}
.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;
    padding-left: 20px;
}

.about-me .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  

}
.about-me .about-content .text .info .list {
    /* background-color: blue; */
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    padding-left: 20px;
}
.about-me .about-content .text .info .list {
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.about-me .about-content .text .info .list {
    margin: 0;
}

.about-me .about-content .text .social-links {
    /* background-color: #d5d5d5; */
    padding-top: 10px;
    padding-left: 20px;
}

.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 20px;
    text-align: center;
    margin: 0 1px;
    -webkit-transiton: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-links a .fa {
    color: #ffffff;
    font-size: 12px;
}

.about-me .about-content .text .social-links a:hover .fa {
    color:  #000000;
}